@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital@1&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size:1rem;
}


.card{
    margin:10px;
    padding:20px;
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


#master{
    background-image: url(https://i.imgur.com/qyTwwJN.jpg);
    /* background- */
    /* opacity: 60%; */
    background-size: cover;
    height:100%;
}

.button {
    background-color: #086375;
    color: #B2ff9E;

}

#main-body{
    margin-top:0px;
    height:100vh;
}

