@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1{
    font-family: 'Lato', sans-serif;
}

.title{
    text-align:center;
}

#save-profile{
    background-color: rgb(84, 189, 35);
    border-color:white;

}

.edit-profile-card{
    width:max-content;
}


/* .image-cropper {
    width: 150px;
    height: 150px;
    position:relative;
    overflow: hidden;
    border-radius: 50%;
  } */

