#dashboard-header{
    color: White;
}

.str-chat{
    height:50vh!important;
    border-radius: 10px!important;
    background-color:rgba(189, 255, 187, 0.945);
}

.str-chat__input-flat{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.str-chat__header-livestream{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}    


.str-chat__main-panel{
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 13px;
    border-radius:20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C9F8EE; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: #3C1642;
    border-radius:20px;
    height: px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #086375; 
  }