.MapContainer {
  display: flex!important;
  position: inherit!important;
  flex-direction: row!important;
  align-content: center!important;
  justify-content: center!important;
  margin: 50px!important;
  width: 100%;
  height: 100%;
}
