@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1{
    font-family: 'Lato', sans-serif;
}

#add-child, #complete-family{
    background-color: rgb(84, 189, 35);
    border-color:white;
}

#kid-form-card{
    margin-bottom: 30px;
}

.padt-14 {
    padding-top: 14px;
}